body { 
    margin: 0; 
    text-align: center;
}

#hero {
    display: flex;
    background-image: url("images/stephen-ellis-knoxville-unsplash.jpg");
    background-size: cover;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}


.activities {
    display: flex;
    
}



.activities-box {
    width: 800px;
    display: flex;
    margin: auto;
   

}



#activities-img  {
    border-radius: 50%;
    height: 150px;
    width: 150px;
}
.guide-img { 
    width: 150px;
    height: 200px;
    padding: 20px;
}
.guide-card { 
    width: 500px;
    margin: 0 auto;
    background-color: aqua;
    display: flex;
    justify-content: space-around;
    text-align: center;
    
}
#guide-quote { 
    padding-right: 20px;
}