body { 
    margin: 0; 
    
    
}

#hero {
    display: flex;
    background-image: url("images/stephen-ellis-knoxville-unsplash.jpg");
    background-size: cover;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.activities {
    padding-bottom: 20px;
}

#activities-heading {
    text-align: center;

}

#activities-box {
   display: flex;
    padding-top: 20px;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;

}


#activities-img  {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    text-align: center;
    
}

.activity { 
    width: 250px;
}
.guide-img { 
    width: 150px;
    height: 200px;
    padding: 20px;
}
.guide-card { 
    width: 500px;
    margin: 0 auto;
    background-color: aqua;
    display: flex;
    justify-content: space-around;
    text-align: center;
    
}
#guide-quote { 
    padding-right: 20px;
}