body { 
    margin: 0; 
    
    
}

#hero {
    display: flex;
    background-image: url("images/stephen-ellis-knoxville-unsplash.jpg");
    background-size: cover;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
}


.activities {
    padding-bottom: 20px;
    background-color: #eae2b7;
    background-size: cover;
    overflow: auto;
    
}

#activities-heading {
    text-align: center;
    padding-top: 20px;

}

#activities-box {
   display: flex;
    padding-top: 20px;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    

}





#activities-img  {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    text-align: center;
    
}

.activity { 
    width: 250px;
}
.guide-img { 
    width: 150px;
    
}


.guide-card {
    width: 400px;
    margin: 30px auto 30px auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background-color: #fcbf49;
    border-radius: 5px;
    border-bottom: 6px solid #f77f00;
}


#guide-quote { 
    font-style: italic;
}

.hero-title { 
    background-color: #fcbf49;
    font-family: "Great Vibes", cursive; 
    font-weight: 400;
    font-size: 65px;
    padding: 10px 10px 0 10px;
    border-radius: 5px;
    margin: 0;

}

.hero-subtitle { 
    background-color: #f77f00;
    border-radius: 5px;
    padding: 5px;

}

